/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  width: 1440px;
  height: 792px;
  background: #fff;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
  width: 371px;
  height: 40px;
}

.search-form input {
  width: 272px;
  height: 40px;
  padding-left: 16px;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  background: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  outline: transparent;
}

.search-form input:hover {
  border-color: #000;
}

.search-form input:focus {
  border-color: #cc6699;
}

.search-form button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #cc6699;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: transparent;
}

.search-form button:hover {
  background: #9933ff;
}

.gallery {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 32px;
}

.item-image {
  border: 1px solid #808080;
}

.photo {
  display: block;
  width: 360px;
  height: 200px;
}

.photo-information-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.photo-information-container p {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  margin: 4px 0px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.accent {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

img {
  border: 1px solid #808080;
  width: 360px;
  height: 200px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ffccff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.button-container{
  display: flex;
  justify-content: center;
}
.load-more-btn {
  display: none; 
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.load-more-btn:hover {
  background-color: #0056b3;
}
.loader {
  display: none; 
}
